body {
    margin: 0;
    display: flex;
    margin-left: 500px;
}

.game-container {
    width: 500px;
    height: 760px;
    position: absolute;
}

.border-top {
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: white;
    z-index: 2;
    top: -40px;
}

.border-bottom {
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: white;
    z-index: 2;
    bottom: 0px;  
}

.border-left {
    width: 70px;
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 2;
    left: 430px;
}

.border-right {
    width: 70px;
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 2;
    left: 1000px;  
}
.sky {
    background-image: url('./assets/sky.jpeg');
    background-size: cover;
    width: 500px;
    height: 610px;
    position: absolute;
}

.ground {
    background-image: url('./assets/ground.jpeg');
    background-size: cover; 
    width: 500px;
    height: 150px;
    position: absolute; 
    top: 580px;
    z-index: 1;
}

.play {
    position: absolute;
    height: 70px;
    left: 45%;
    top: 40%;
    cursor: pointer;
}

.bird {
    background-image: url('./assets/bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    z-index: 1;
}

.obstacle {
    width: 60px;
    height: 300px;
    background-image: url('./assets//obstacle.png');
    position: absolute;
}

.topObstacle {
    width: 60px;
    height: 400px;
    transform: rotate(180deg);
    background-image: url('./assets//obstacle.png');
    position: absolute;
}

.scoreCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: transparent;
    gap: 10px;
    z-index: 10;
    margin-top: 15px;
}

.scoreCard h2,h3 {
    margin: 0px;
    margin-left: 5px;
}

.gameOverDiv {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 180px;
    bottom: 300px;
    font-weight: 600;
}

.replay {
    height: 70px;
    cursor: pointer;
}